<%- include('dashboardheader') %>

<div class="item item3 main">
    <div class="container admin signup-verification">
        <h1>Account Activation Message</h1>
        <h1 style="color: lightgreen;"><% if(msg != ''){ %>
            <%= msg %>
          <% } %>
        </h1>
        <br/>     
       
                    
                    
    </div>
    
      


  
    
 

</div>
<%- include('modal') %>
<%- include('modaladmin') %>
<%- include('modalcareer') %>
<%- include('modalemployees') %>  
<%- include('dashboardfooter') %>




