<%- include('dashboardheader') %>

<div class="item item3 main">

    <div class="sidenav-dashboardadmin">
      <ul>      
        <li>
          <a href="/dashboardadmin">Admin Dashboard</a>
        </li>
        <li>
          <a href="/inbox">Inbox</a>
        </li>
        <li>
          <a href="/outbox">Outbox</a>
        </li>      
        <li>
          <a href="#" onclick="openSendMessageModal()">Start Sending Email</a>
        </li>           
        <li>
          <a href="/adminstafflist">List of Admin Staff</a>
        </li>      
        <li>
          <a href="/clientslist">List of Clients</a>
        </li>
        <li>
          <a href="/createprofile">Create Profile</a>
        </li>
        <li>
          <a href="/editprofile">Edit Profile</a>
        </li>
        <!--
        <li>
          <a href="/deleteprofile">Delete Profile</a>
        </li>
        -->
        <li>
          <a href="/uploadfile">Upload File</a>
        </li>
        <li>
          <a href="/recyclebin">Recycle Bin</a>
        </li>
        <li>
          <a href="/giveaccess">Give Access</a>
        </li>
      </ul>
      </div>

    <div class="container inbox">
        <% if(msg != ''){ %>
            <h1 style="color: greenyellow;"><%= msg %></h1>
        <% } %>

        <h1>Edit Profile</h1> 
         
           
                       
    </div>      


  
    
 

</div>
<%- include('modal') %>
  <%- include('modaladmin') %> 
  <%- include('modalreply') %> 
  <%- include('dashboardfooter') %>




